*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $primary-color;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: $secondary-color;
}

ul{
    list-style: none    ;
}

img{
    width: 100%;
}