$max-width: 1200px;
$primary-color: #dbdbdb;
$secondary-color: #535353;
$first-color: #5c4711;
$second-color: #7c5f17;
$third-color: #DAA520;
$fourth-color: #342707;
$bg-image: url('../img/bg.jpg');

